{% block roxor_priemer_row -%}
    <div class="row">
        <div class="col-2 " style="display: flex;align-items: flex-end;"><label> &nbsp;</label>
            {{ label }}
        </div>
        {% for fieldName in constant('App\\Entity\\OrderRoxorPriemer::RADIUSES') %}
            <div class="col-1">{{ form_label(form[fieldName]) }}{{ form_widget(form[fieldName]) }}</div>
        {% endfor %}
    </div>
    <div class="row">
        {% for error in form.vars.errors.form.getErrors(true) %}
            <div class="global-invalid-feedback invalid-feedback d-block col">{{ error.message }}</div>
        {% endfor %}
    </div>
{% endblock roxor_priemer_row %}