<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body class="bg-body-tertiary">
{% set flashes = app.session.flashbag.all() %}
{% if flashes|length > 0 %}
<div class="block w-full">
    {% for type, flashMessages in flashes %}
        {% set colors = {
            'warning':'bg-orange-500',
            "danger":"bg-red-500",
            "info":"bg-blue-500",
            "success":"bg-green-500"
        } %}
        {% for flashMessage in flashMessages %}
            <div class="font-regular relative mb-4 block w-full rounded-lg {{ colors[type]|default("bg-green-500") }} p-4 text-base leading-5 text-white opacity-100">{{ flashMessage|raw }}</div>
        {% endfor %}
    {% endfor %}
    {% endif %}
    {% block body %}{% endblock %}
</div>
</body>
</html>
