<div{{ attributes.defaults({
    class:'my-3 p-3 bg-body rounded shadow-s'
}) }} >
    <div class="row">
        {% for project in this.projects %}
            <div class="col-md-6 col-lg-6 col-xl-4  align-items-start pb-1">
                <div class="row">
                    {% for statusComponent in components %}
                        {{ component(statusComponent, {project: project}) }}
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
    <twig:Favicon/>
</div>
