{% extends "base.html.twig" %}

{% block title %}{{ title|default('Log View') }}{% endblock %}

{% block body %}


    <div class="min-h-screen p-2 h-100">
        <main class="">
            <div class="my-3 p-3 bg-body rounded shadow-sm">
                <div class="row">
                    {% for project in projects %}
                    <div class="col-md-6 col-lg-6 col-xl-4  align-items-start pb-1">
                        <div class="row">
                            <twig:ProjectStatus :project="project"/>
                            <twig:LogCount :project="project"/>
                            <twig:LogSparkLine :project="project"/>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <twig:LogList :status="status"/>
        </main>
    </div>


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>

        {% if app.environment == 'prod' %}
		document.addEventListener("DOMContentLoaded", function () {
			setInterval(function () {
				window.location.reload();
			}, 15000);
		});
        {% endif %}
    </script>
{% endblock %}